Repository voxpupuli/puppet-extlib, pull requests merged in 2018-07, with the labels that each got.

#98 modulesync 1.9.3
  .msync.yml
  Gemfile
Labels: modulesync

#103 Allow default_content to render epp templates
  lib/puppet/functions/default_content.rb
  lib/puppet/parser/functions/default_content.rb
  spec/functions/default_content_spec.rb
  spec/unit/puppet/parser/functions/default_content_spec.rb
Labels: enhancement

#104 release 2.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
