Repository voxpupuli/puppet-extlib, pull requests merged in 2018-09, with the labels that each got.

#108 Fix default_content puppet-strings tags
  REFERENCE.md
  lib/puppet/functions/default_content.rb
Labels: docs

#110 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#112 Convert `random_password` to API 4 function
  README.md
  REFERENCE.md
  lib/puppet/functions/random_password.rb
  lib/puppet/parser/functions/random_password.rb
  spec/functions/random_password_spec.rb
  spec/unit/puppet/parser/functions/random_password_spec.rb
Labels: backwards-incompatible

#121 Clean up documentation
  README.md
  REFERENCE.md
  lib/puppet/functions/extlib/default_content.rb
  lib/puppet/functions/extlib/has_module.rb
  lib/puppet/functions/extlib/sort_by_version.rb
  metadata.json
Labels: docs
