Repository voxpupuli/puppet-extlib, pull requests merged in 2019-11, with the labels that each got.

#137 Add experimental `extlib::read_url` function
  REFERENCE.md
  lib/puppet/functions/extlib/read_url.rb
  spec/functions/extlib/read_url_spec.rb
Labels: enhancement

#138 Modulesync
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#139 Release 4.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#140 drop Ubuntu 14.04 support
  metadata.json
Labels: backwards-incompatible
