Repository voxpupuli/puppet-extlib, pull requests merged in 2019-04, with the labels that each got.

#132 modulesync 2.7.0 & Drop puppet4; require at least Puppet 5.5.8
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .sync.yml
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Gemfile
  Rakefile
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible

#129 Add new file based functions
  .sync.yml
  README.md
  REFERENCE.md
  Rakefile
  functions/dir_split.pp
  functions/file_separator.pp
  functions/mkdir_p.pp
  functions/path_join.pp
  spec/functions/extlib/dir_split_spec.rb
  spec/functions/extlib/file_separator_spec.rb
  spec/functions/extlib/mkdir_p_spec.rb
  spec/functions/extlib/path_join_spec.rb
Labels: enhancement

#133 Improve `extlib::path_join` docs formatting
  REFERENCE.md
  functions/path_join.pp
Labels: docs
