Repository voxpupuli/puppet-extlib, pull requests merged in 2025-02, with the labels that each got.

#242 modulesync 9.4.0
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync

#243 Replace `travis` `Build Status` README badge
  README.md
Labels: docs, skip-changelog

#244 Add `confdir` to extlib__puppet_config
  lib/facter/extlib__puppet_config.rb
  spec/unit/facter/extlib__puppet_config_spec.rb
Labels: enhancement

#245 Add `remove_resource` function
  REFERENCE.md
  lib/puppet/functions/extlib/remote_pql_query.rb
  lib/puppet/functions/extlib/remove_resource.rb
  spec/functions/extlib/remove_resource_spec.rb
Labels: enhancement
